// Base colors
$horizon: linear-gradient(
    291.69deg,
    #3784e1 1.42%,
    #397fd0 24.41%,
    #856af1 95.35%
);

$purpleColor: #8f70e7;
$paleBlack: #595959;
$white: #ffffff;

$desktopFontSize: 20px;
$mobileFontSize: 18px;

$mainColor: $purpleColor;
$paragraphColor: $paleBlack;

// Screen sizes breakpoints
$mobileSize: 800px;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin full-background {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

@mixin mobile-breakpoint {
    @media (max-width: $mobileSize) {
        @content;
    }
}

@mixin horizon {
    background: $horizon;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@mixin horizon-background {
    background: $horizon;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 20px;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
    text-fill-color: unset;
}

.horizon {
    @include horizon;
}

.horizon-background {
    @include horizon-background;
}
