@use 'Base';

.header {
    background: url(../assets/svg/home-bg.svg) no-repeat;
    @include Base.full-background;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;

    .brand-name-wrapper {
        @include Base.center;

        .brand-name {
            display: inline-block;
            height: unset;
            margin-top: 10px;

            h6 {
                margin: 0;
                color: Base.$white;
            }

            img {
                display: flex;
                margin-top: 10px;
            }
        }
    }

    .view-on-github {
        height: 120px;
        width: 120px;
        position: absolute;
        top: 0;
        right: 0;

        background: url(../assets/svg/view-github-bg.svg) no-repeat;
        @include Base.full-background;
        @include Base.center;
        @include Base.mobile-breakpoint {
            display: none;
        }

        flex-direction: column;
        justify-content: flex-start;

        img {
            width: 40px;
            height: 40px;
            margin: {
                top: 10px;
                bottom: 10px;
            }
        }

        a {
            background: #490fee;
            border-radius: 30px;
            cursor: pointer;

            h6 {
                color: Base.$white;
                margin: 0;
                padding: 5px 10px;
                font-size: 18px;
            }
        }
    }

    .bc-wrapper {
        @include Base.center;
        flex-direction: column;

        height: 75%;

        h6 {
            margin: 0;
            color: Base.$white;
        }

        .tilt-wrapper {
            height: 60%;

            img {
                max-width: 600px;
                width: 70vw;
                object-fit: contain;
            }
        }

        .business-card {
            height: 99%;
        }

        .below-wrapper {
            height: 6%;
            margin-top: 5px;
            max-width: 600px;
            width: 70vw;
            display: flex;
            justify-content: flex-end;
            color: #fff;

            button {
                color: #fff;
                height: 100%;

                svg {
                    height: 100%;
                }
            }
        }

        @media screen and (max-width: 500px) {
            width: 100%;

            .below-wrapper {
                width: 100%;
            }
        }
    }

    .navigation-wrapper {
        width: 100%;
        height: unset;
        position: absolute;
        bottom: 2vh;

        nav {
            @include Base.center;

            ul {
                display: flex;
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    font-size: 1.25em;
                    padding: 0 20px;

                    a {
                        color: Base.$white;
                        font-family: 'AutoBusBold';
                        text-decoration: none;

                        &:hover {
                            color: #d3d3d3;
                        }
                    }
                }
            }
        }
    }
}
