@use 'Base';

.header {
    background: url(../assets/svg/home-bg.svg) no-repeat;
    @include Base.full-background;
    position: fixed;
    z-index: 3;
    top: 0;

    width: 100%;
    height: 100vh;
    transition: height 0.5s;
    min-height: 100px;

    @media (max-device-width: 450px) {
        position: unset;
    }

    .brand-name-wrapper {
        @include Base.center;

        .brand-name {
            display: inline-block;
            height: unset;
            margin-top: 10px;

            h6 {
                margin: 0;
                color: Base.$white;
            }

            img {
                display: flex;
                margin-top: 10px;
                transition: margin-top 0.5s;
            }
        }
    }

    .view-on-github {
        height: 120px;
        width: 120px;
        position: absolute;
        top: 0;
        right: 0;

        @include Base.full-background;
        @include Base.center;
        @include Base.mobile-breakpoint {
            display: none;
        }

        flex-direction: column;
        justify-content: flex-start;

        img {
            width: 40px;
            height: 40px;
            margin: {
                top: 10px;
                bottom: 10px;
            }
        }

        a {
            background: #490fee;
            border-radius: 30px;
            cursor: pointer;

            h6 {
                color: Base.$white;
                margin: 0;
                padding: 5px 10px;
                font-size: 18px;
            }
        }
    }

    .bc-wrapper {
        @include Base.center;
        flex-direction: column;

        height: 75%;
        transition: height 0.5s;

        h6 {
            margin: 0;
            color: Base.$white;
        }

        .tilt-wrapper {
            height: 60%;

            img {
                max-width: 600px;
                width: 70vw;
                object-fit: contain;
            }

            @media (max-width: 700px) {
                height: 40%;
            }
            @media (max-width: 550px) {
                height: 30%;
            }
            @media (max-width: 350px) {
                height: 20%;
            }
        }

        .business-card {
            height: 99%;
        }

        .below-wrapper {
            height: 6%;
            margin-top: 5px;
            display: flex;
            justify-content: flex-end;
            color: #fff;

            button {
                color: #fff;
                height: 100%;
            }

            svg {
                height: 100%;
            }
        }
    }

    .navigation-wrapper {
        width: 100%;
        height: unset;
        position: absolute;
        bottom: 2vh;
        margin-bottom: 12vh;
        transition: margin-bottom 0.5s;

        nav {
            @include Base.center;

            ul {
                display: flex;
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    font-size: 1.25em;
                    padding: 0 20px;

                    a {
                        color: Base.$white;
                        font-family: 'AutoBusBold';
                        text-decoration: none;
                        cursor: pointer;
                        user-select: none;

                        &:hover {
                            color: #d3d3d3;
                        }
                    }
                }
            }
        }
    }
}

.headerScroll {
    height: 12vh;

    .bc-wrapper {
        height: 0%;
    }

    .below-wrapper {
        display: none !important;
    }

    .navigation-wrapper {
        margin-top: 10px;
        margin-bottom: 0;
        position: initial;
    }

    .brand-name img {
        margin-top: 3px !important;
    }
}

.headerMobile {
    height: 12vh;
    position: fixed;
    transform: translateY(-12vh);
    transition: transform 0.5s;

    .navigation-wrapper {
        margin-bottom: 0;
        transition: unset;
    }

    &.show {
        transform: translateY(0);
    }
}
