@use './styles/Base.scss';

.App {
    // height: 100%;
}

p {
    color: Base.$paragraphColor;
}

h1,
h2,
h3,
h4,
h5 {
    @include Base.horizon;
    font-family: 'AutobusBold';
    font-weight: normal;
    margin: 0;
    line-height: 1.5em;
}

h6 {
    font-family: 'AutobusBold';
    font-weight: normal;
    margin: 0;
    color: #ffffff;
    font-size: 1.25em;
}

h5 {
    font-size: 1.56em;
}

h4 {
    font-size: 1.95em;
}

h3 {
    font-size: 2.44em;
}

h2 {
    font-size: 3.05em;
}

h1 {
    font-size: 3.81em;
}

html,
body {
    font-size: Base.$desktopFontSize;
}

@include Base.mobile-breakpoint {
    html,
    body {
        font-size: Base.$mobileFontSize;
    }
}

/* This only changes this particular animation duration */
.animate__animated.animate__zoomIn {
    --animate-duration: 0.5s;
}
